@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
        padding: 5px;
    }
    .navbar h1{
        font-size: small;
    }
    .nav-buttons {
        display: flex;
        gap: 10px;
        font-size: small;
    }

    .welcome-page {
        padding: 20px;
        text-align: center;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        justify-content: center;
    }
    .gallery img {
        width: 100%;
        height: auto;}

    .filter-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .filter-buttons button {
        padding: 8px 12px;
        font-size:small;
    }

    .upload-section {
        flex-direction:row;
        width:20%;
        padding: 1px;
        justify-content:center;
        align-items: center;
    }
    .upload-section input, 
        .upload-section select, 
        .upload-section button {
            padding: 5px;
        }
    .modal-controls {
        flex-direction:column;
        bottom: 10px;
        gap: 5px;
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        flex-direction: column;
        padding: 3px;
    }
    .navbar h1{
        font-size: small;
    }
    .nav-buttons {
        
        display: flex;
        gap: 5px;
        font-weight: small;
    }

    .welcome-page {
        padding: 15px;
        text-align: center;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        justify-content: center;
    }
    .gallery img {
        width: 75%;
        height: 50%;}

    .filter-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3px;
    }

    .filter-buttons button {
        padding: 6px 9px;
        font-size: small;
    }

    .upload-section {
        flex-direction:column;
        width: 30%;
        padding: 3px;
        justify-content:center;
        align-items: center;
    }

    .modal-controls {
        flex-direction: column;
        bottom: 7px;
        gap: 3px;
    }
    .upload-section input, 
        .upload-section select, 
        .upload-section button {
            padding: 5px;
}
}
